<%admin_restricted%>
<p id="notice"><%= notice %></p>
<%= render 'admin/admin_nav' %>
<h1>Posts Admin</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Album</th>
        <th>About</th>
        <th>Poster</th>
        <th colspan="3"></th>
      </tr>
    </thead>
     <%  @posts = Post.all %>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.artist %>'s <%= post.title %></td>
          <td><%= truncate(post.about, :length => 150 )%></td>
          <td><%= link_to post.user.username, post.user %></td>
          <td><%= link_to 'Show', post%></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

