<%admin_restricted%>
<p id="notice"><%= notice %></p>
<%= render 'admin/admin_nav' %>
<h1>Reviews Admin</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Review</th>
        <th>Reviewer</th>
        <th>Album</th>
        <th colspan="3"></th>
      </tr>
    </thead>
     <% @reviews = Review.all %>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= truncate(review.body, :length => 150 )%></td>
          <td><%= review.user.username %></td>
          <td><%= review.post.artist %>'s <%= review.post.title %></td>
          <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
