<p>
	<%= image_tag @user.avatar.url, style: 'height:300px;width:300px;', class:"rounded mx-auto d-block" if @user.avatar? %>
</p>

  <h1 class="text-center"><%= @user.username%></h1>



  <h5 class="text-center"><br/>All about me: </h5>
  <%= @user.about%>
  <br/><br/>
	<h4 class="text-center"><%=@user.username%>'s Reviews</h4>
	<% @reviews = @user.reviews.all.order(cached_votes_score: :desc) %>
    <% @reviews.each do |review| %>
      <div class="card">
      	<div class="card-header">
    		<h5><%=review.post.artist%>'s <%=review.post.title%></h5>
    	</div>
  		<div class="card-body">
  			<%= link_to (image_tag review.post.artwork.url, style: 'height:100px;width:100px;', :title => review.post.title), review.post %>
  			<p class="card-text"><%= review.body %></p>
  			Review Popularity Points:<%= render 'reviews/like_count', review: review %>
  				<%= render 'reviews/upvote_link', review: review %>
    			<%= render 'reviews/downvote_link', review: review %>
    	</div>
    </div>
    <br/>
    <% end %>


