<!--<p id="notice"><%= notice %></p>-->

<div class="jumbotron">
  <h1><%= @post.artist %></h1>
  <h3><%= @post.title %></h3>
  <%= image_tag @post.artwork.url, style: 'height:200px;width:200px;' %>
  <p class="lead">Genre: <%= @post.genre %></p>
  <p class="lead">About the album:<br/> <%= @post.about %></p></br>
  
  <p class="lead">Posted by <%= @post.user.email %></p>
  <% if user_signed_in? && current_user == @post.user %>
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <%end%>
  <%= link_to 'Back', posts_path, class:"btn btn-secondary" %>
  <%= render @post.reviews %>
  <div class="card my-1">
  <div class="card-body">
    <p class="font-weight-bold">Reviews</p>
    <%= form_with(model: [@post, @post.reviews.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New Review' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

  </p>
</div>